.footer {
    height: 12rem;
    background-color: $primary;
    color: $white;
    text-align: center;

    nav {
        ul {
            margin: auto;
            display: inline-flex;
            list-style: none;
            li{
                cursor: pointer;
                margin: 1rem;
            }
        }
    }

    // @include respond(phone){
    //     margin-bottom: 5rem;
    // }
}