.header {
    padding: 1rem 5rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-image: url("../img/logo.png");
    &__logo{
        display: flex;
        align-items: center;
        img{
            height: 5rem;
        }
        font-family: 'Kosugi Maru', sans-serif;
        // height: 5rem;
    }

    h1{
        // color: $white;
        font-size: 2.4rem;
        // font-family: 'Kosugi Maru', sans-serif;
    }

    @include respond(phone){
        padding: .5rem;
        h1 {
            white-space: pre-wrap;
            font-size: 1.7rem;
            font-weight: 700;
        }
    }
}

.authHeader {
    display: flex;
    align-items: center;
    & > *{
        margin-left: 1rem;
    }

    &__name{
        @include respond(phone){
            display: none;
        }
    }

    .image {
        width: 3.6rem;
        height: 3.6rem;
        img{
            border-radius: 50%;
            border: solid 1px $primary;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}