.jobCard {
    position: relative;
    &__status{
        position: absolute;
        left: -1rem;
        top: -1rem;
    }
    // min-width: 20rem;
    // margin: 1rem;
    // img {
    //     height: 12rem;
    //     object-fit: cover;
    // }
}