.jobFilter {
    width: 100%;
    max-height: calc(95vh - (#{$search-filter-height} + #{$fixed-area-height}));

    &__jobTypes{
        display: flex;
    }
    &__employType,
    &__englishLevel {
        margin: 1rem;
    }
}