.icon {
    &--selectable{
        cursor: pointer;
        &:hover {
            opacity: .8;
        }
    }

    &--edit {
        color: $primary;
    }


    &--delete {
        color: $danger;
    }
}