.spinner {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &__inner{
        border: 5px solid $white; 
        border-top: 5px solid $success;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        animation: spin 1s linear infinite;
    }

    &.cover,
    &.coverFixed {
        z-index: 1000;
        background-color: rgba(0,0,0, .6);
        top: 0;
        left: 0;
    }

    &.cover {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &.coverFixed {
      position: fixed;
      width: 100vw;
      height: 100vh;
    }
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }