$body-family: 'Noto Sans JP', sans-serif;
$primary: #52bbf8;
$secondary: #a78e03;
$size-small: 1.2rem;
$size-normal: 1.6rem;
$size-medium: 2rem;
$size-large: 2.4rem;

.image{
    img{
        object-fit: cover;
    }
}