.businessProfileList {
    &__side{
        min-width: 30rem;
        margin:1rem;
        h3 {
            padding: .5rem;
            border: solid 1px $info;
            border-radius: 5px;
            color: $primary-dark;
            background-color: $info-light;
        }
    }
       

    @include respond(phone){
        &__side{
            width: 100%;
        }
    }
}