.businessProfileDetail {
    &__avatar {
        width: 100%;
        height: 60rem;
        background-color: $black;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__garelly {
        width: 100%;
        height: 60rem;
    }

    .image-gallery-slide img {
        height: 60rem;
        object-fit: contain;
    }

    &__jobList {
        max-width: 50rem;
        &__item {
            margin: 1rem;
        }
    }

    &__jobCard {
        
    }

    // .modalCloseButton {
    //     i
    //     {
    //         background-color: #aaa;
    //         border-radius: 50%;
    //     }
    // }

    @include respond(phone){
        &__avatar {
            height: 35rem;
        }
    }
}